.main_board {
  flex: auto;
  margin-bottom: 50px;
}

.wrapper {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.board {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.taskbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 32px;
}

.find_add_task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.search_container {
  display: flex;
  flex-direction: column;
}

.board_searchbar {
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 5px;
  width: 100%;
  border-color: rgb(198, 198, 198);
  background-color: #ffffff;
}

.board_searchbar:focus-within {
  border-color: #29b1e5;
}

.board_searchbar input {
  outline: none;
  border: none;
  background-color: #ffffff;
  font-size: 20px;
  width: 100%;
}

.board_searchbar_img {
  border-left: solid;
  border-width: 1px;
  padding: 3px;
  padding-left: 16px;
  padding-right: 10px;
  cursor: pointer;
  border-color: rgb(198, 198, 198);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

::placeholder {
  color: rgb(198, 198, 198);
  font-size: 18px;
}

.board_searchbar img {
  padding: 4px;
  border-radius: 50%;
}

.board_searchbar img:hover {
  background-color: rgb(227, 227, 227);
  transition: 0.125s;
}

.add_task_button {
  background-color: rgb(42, 54, 71);
  border-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 4px;
  font-weight: bold;
  width: 160px;
}

.add_task_button:hover {
  background-color: rgb(41, 171, 226);
  border-color: transparent;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  zoom: 1.1;
  transition: 0.5s;
}

.add_task_button img {
  width: 18px;
}

.add_task_button img:hover {
  width: 18px;
}

.kanban_board {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 66vh;
  gap: 16px;
}

.board_todo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2px;
}

.board_subline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #42526e;
  font-size: 20px;
  font-weight: 700;
}

.board_subline_img:hover {
  content: url("../assets/img/plus_button_v2.0.svg");
  cursor: pointer;
}

.board_tasks {
  display: flex;
  flex-direction: column;
  min-height: 59vh;
  border-radius: 15px;
  width: 100%;
}

.board_task {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  cursor: grab;
}

.board_no_task {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 15px;
  border: dotted;
  border-width: 1px;
  border-color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;
  height: 48px;
  margin-top: 16px;
  margin-right: -1px;
}

.board_category {
  background-color: var(--backgroundCategory);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-size: 16px;
  width: fit-content;
}

.task_headline {
  font-weight: 700;
  margin-top: 16px;
}

.task_description {
  color: #a8a8a8;
  margin-top: 4px;
}

.task_progress_bar {
  width: 100%;
  height: 8px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    #29b1e5 var(--backgroundProgressbar),
    #e9ecef 0%
  );
}

.task_subtasks {
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-top: 15px;
}

.task_subtask_number {
  min-width: 75px;
}

.task_underline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.task_accounts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task_account1 {
  border-radius: 50px;
  font-size: 12px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.task_account2 {
  border-radius: 50px;
  font-size: 12px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  left: var(--position);
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

.taskdetail_bg {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 300;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskdetail {
  width: 30vw;
  border-radius: 25px;
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.addtask_board {
  width: 768px;
  border-radius: 25px;
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  height: 770px;
}

.task_detail_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail_task_close_button {
  cursor: pointer;
  width: 32px;
}

.task_detail_headline {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
}

.detail_task_information {
  margin-top: 20px;
}

.detail_task_due_date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.detail_task_due_date_key {
  width: 73px;
  color: #2a3647;
}

.detail_task_due_date_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.task_detail_assigned_accounts {
  margin-top: 20px;
}

.task_detail_assigned_accounts_key {
  color: #2a3647;
}

.task_detail_assigned_account_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.task_detail_subtasks {
  margin-top: 15px;
}

.detail_subtasks_headline {
  color: #2a3647;
}

.task_detail_subtasks_container {
  margin-top: 15px;
  margin-left: 20px;
}

.task_detail_subtask {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.detail_task_edit_delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.detail_task_edit_delete img {
  width: 24px;
}

#detailTaskDeleteImg {
  width: 24px;
  height: 24px;
  background-image: url(../assets/img/delete.svg);
}

.detail_task_delete:hover #detailTaskDeleteImg {
  background-image: url(../assets/img/delete2.svg);
}

#detailTaskEditImg {
  width: 24px;
  height: 24px;
  background-image: url(../assets/img/edit.svg);
}

.detail_task_edit:hover #detailTaskEditImg {
  background-image: url(../assets/img/edit2.svg);
}

.detail_task_delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  border-right: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  gap: 5px;
  cursor: pointer;
}

.detail_task_delete:hover {
  color: #29b1e5;
  font-weight: 700;
}

.detail_task_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.detail_task_edit:hover {
  color: #29b1e5;
  font-weight: 700;
}

.task_detail {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.1);
}

.drag_area_highlight_border {
  border: dashed;
  border-width: 1px;
  border-color: #a8a8a8;
}

.animation_task_drag_and_drop {
  animation: wiggleAnimation 0.5s normal;
}

.editTask_container {
  max-height: 766px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.editTask_closing_button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addTask_formular_second_subtask {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-top: 54px;
  width: calc(100% - 2px);
}

.subtask_container_edit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  flex-direction: column;
}

.subtask_container_edit img {
  height: 5px;
}

.board_edit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

@keyframes wiggleAnimation {
  37% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
