.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: calc(100% - 348px - 40px);
  background-color: #FFFFFF;
  height: 56px;
  padding: 20px 40px 20px 348px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_mobile {
  display: none;
  width: 32px;
  height: 39.02px;
}

.header_profile_container {
  width: 104px;
  height: 56px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.help_link {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help_img {
  height: 20px;
  width: 20px;
}

.help_link:hover .help_img,
.help_link:focus .help_img {
  transition: 0.125s;
  transform: scale(1.2);
}

.header_user_profile {
  border: 3px solid #2A3647;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 1px;
  color: #29ABE2;
  font-weight: bold;
}

.registered_user_28 {
  font-size: 28px;
}

.registered_user_20 {
  font-size: 20px;
}

.registered_user_14 {
  font-size: 14px;
}

.registered_user_10 {
  font-size: 12px;
}

.registered_user_0 {
  font-size: 0;
}

.guest {
  font-size: 25px;
}

.header_user_profile:hover,
.header_user_profile:focus {
  transition: 0.125s;
  background-color: #E2E6EC;
}