.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 598px;
    height: 630px;
    padding: 48px;
    border-radius: 32px;
    background-color: white;
}

.signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

input[type='checkbox'] {
    border: 2px solid #2A3647;
    border-radius: 4px;
    width: 16px;
    height: 16px;
}

input[type='checkbox']:hover {
    transform: scale(1.05);
    transition: 100ms;
    background-color: #EDF2FA;
}

.blue_line {
    margin-top: 16px;
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
}

.check_policy a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    transform: scale(1.05);
}

.blue_word {
    color: #29ABE2;
}

.check_policy {
    display: flex;
    justify-content: center;
    gap: 8px
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 449px;
    padding: 48px;
    border-radius: 32px;
    background-color: white;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.remember_login {
    display: flex;
    justify-content: flex-start;
    gap: 8px
}

.remember_login a:hover {
    transform: scale(1.05);
}

.blue_line {
    margin-top: 16px;
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.linkbox {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    position: absolute;
    bottom: 48px;
    width: 246px;
}

.link {
    color: #A8A8A8;
}

.link:hover {
    color: #29abe2;
    font-weight: bold;
}

.back_arrow {
    width: 32px;
    height: 32px;
}

.back_arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(240, 240, 240);
    border-radius: 24px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    margin-left: -161px;
}

.input_icon {
    margin-left: -32px;
    padding-right: 4px;
    width: 20px;
}

.logo {
    position: absolute;
    top: 64px;
    left: 64px;
    width: 100px;
    height: 120px;
}

.login_buttons {
    display: flex;
    justify-content: center;
    width: 422px;
    gap: 32px;
}

.signup_btn {
    display: flex;
    width: 380px;
    gap: 32px;
    position: absolute;
    top: 64px;
    right: 64px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 598px;
    height: 630px;
    padding: 48px;
    border-radius: 32px;
    background-color: white;
}

.white_btn {
    padding: 16px 24px;
    background-color: white;
    border: 2px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
    font-weight: 700;
    font-size: 24px;
}

.white_btn:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    transition: 100ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.white_btn:active {
    color: #091931;
    border: 2px solid #091931;
    transition: 100ms;
}

.standard_btn:enabled {
    padding: 16px 24px;
    background-color: #2A3647;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.standard_btn:hover:enabled {
    background-color: #29ABE2;
    transition: 100ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.standard_btn:active:enabled {
    background-color: #091931;
    transition: 100ms;
}

.standard_btn:disabled {
    padding: 16px 24px;
    color: #2A3647;
    background-color: white;
    border: 2px solid #2A3647;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    cursor: auto;
}

.standard_ipt {
    width: 380px;
    height: 28px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 24px;
    padding: 12px 20px;
    cursor: pointer;
}

.msg_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20vh;
}