.logo-animation {
    position: absolute;
    z-index: 100;
    animation: moveToCorner 500ms linear forwards;
    animation-delay: 100ms;
    top: 64px;
    left: 64px;
}

.fadein-box {
    animation: fadein 1000ms forwards;
    animation-delay: 100ms;
}

@keyframes moveToCorner {
    from {
        width: 300px;
        height: 360px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        width: 100px;
        height: 120px;
        top: 64px;
        left: 64px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}