.logo-animation {
    position: absolute;
    width: 300px;
    height: 362px;
    z-index: 100;
    animation: moveToCorner 500ms linear forwards;
    animation-delay: 500ms;
    background-image: url(../assets/img/Logo1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fadeout-box {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    animation: fadeout 2000ms forwards;
    animation-delay: 300ms;
    background-color: white;
}

@keyframes moveToCorner {
    0% {
        width: 300px;
        height: 362px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        width: 102px;
        height: 124px;
        top: 64px;
        left: 64px;
        transform: none;
    }
}

@keyframes fadein {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    animation: fadein 1s ease-in-out forwards;
}