.sidebar {
  background-color: rgb(42, 54, 71);
  color: white;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

.bgSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.sidebar_links :hover {
  background-color: #2a3d59;
}

.sidebar_subMenu p {
  color: grey;
  font-size: 14px;
}

.sidebar_subMenu p:hover {
  color: #29abe2;
  font-size: 14px;
  font-weight: bold;
}

.sidebar_subMenu {
  margin-bottom: 64px;
}

.sidebar_links {
  padding-top: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.summary {
  width: 109px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  color: rgb(185, 186, 188);
}

.summary_focus {
  width: 109px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  color: white;
  background-color: rgb(9, 25, 49) !important;
}

.summary_focus img {
  background-color: rgb(9, 25, 49) !important;
}

.summary_focus p {
  background-color: rgb(9, 25, 49) !important;
}

.bgSummary_focus {
  background-color: rgb(9, 25, 49) !important;
}
