.sidebar {
  background-color: rgb(42, 54, 71);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 232px;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_menu {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.sidebar_subMenu p {
  color: grey;
  font-size: 12px;
}
