.submenu_dialog {
  background-color: #2a3647;
  padding: 10px;
  margin-top: 96px;
  margin-right: 20px;
  border-style: none;
  max-height: calc(204px - 10px - 10px);
  width: calc(150px - 10px - 10px);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  translate: 150px 0;
  transition: translate 0.125s ease-out, display 0.125s ease-out allow-discrete;
}

.submenu_dialog[open] {
  translate: 0 0;
}

@starting-style {
  .submenu_dialog[open] {
    translate: 150px 0;
  }
}

.submenu_dialog::backdrop {
  background-color: transparent;
}

.submenu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.submenu_entry {
  height: 46px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submenu_entry_link {
  padding: 8px 16px 8px 16px;
  width: auto;
  white-space: nowrap;
  color: #cdcdcd;
}

.submenu_entry_link:hover,
.submenu_entry_link:focus {
  transition: 0.125s;
  background-color: #2a3d59;
}

.toggle_help_entry {
  display: none;
}
