.wrapper {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.addTask_border {
  background-color: #d1d1d1;
  height: 326px;
  width: 1px;
}

.addTask_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

.addTask_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-top: calc(22vh - 96px);
}

.addTask_headline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.addTask_formular {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.addTask_formular_left {
  width: 50%;
  margin-right: 20px;
}

.addTask_formular_first {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 2px);
}

.addTask_formular_headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTask_formular_second {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: calc(100% - 2px);
}

.addTask_formular_right {
  width: 50%;
  margin-left: 20px;
}

.addTask_button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(24vh - 96px);
}

.addTask_button_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.addTask_button_info_display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.addTask_button_info_mobile {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  margin-top: 20px;
}

.standard_btn:enabled {
  padding: 16px 24px;
  background-color: #2a3647;
  border: 0;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  gap: 4px;
}

.standard_btn:hover:enabled {
  background-color: #29abe2;
  transition-delay: 100ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 56px;
  gap: 4px;
}

.standard_btn:active:enabled {
  background-color: #091931;
  transition-delay: 100ms;
  height: 56px;
  gap: 4px;
}

.standard_btn:disabled {
  padding: 16px 24px;
  color: #2a3647;
  background-color: white;
  border: 2px solid #2a3647;
  border-radius: 8px;
  font-weight: 700;
  font-size: 21px;
  cursor: auto;
  height: 56px;
  gap: 4px;
}

.white_btn {
  padding: 16px 24px;
  background-color: white;
  border: 2px solid #2a3647;
  border-radius: 8px;
  color: #2a3647;
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  gap: 4px;
}

.white_btn:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 56px;
  gap: 4px;
}

.white_btn img {
  position: relative;
  top: 1px;
}

.white_btn:active {
  color: #091931;
  border: 2px solid #091931;
  transition-delay: 100ms;
  height: 56px;
}

.input {
  width: calc(100% - 30px);
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 5px;
}

textarea {
  width: calc(100% - 30px);
  height: 114px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 15px;
  font-family: "Inter", sans-serif;
  margin-top: 5px;
  resize: none;
}

.addTask_subtask_container {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_with_button {
  padding: 8px 15px;
  outline: none;
  border: none;
  width: calc(100% - 30px);
  font-size: 18px;
  border-radius: 14px;
}

.div_with_button {
  width: calc(100% - 15px);
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.add_button:hover {
  background-color: #d1d1d1;
}

.add_button2 img:hover {
  background-color: #d1d1d1;
}

.add_button2 {
  border-left: solid 1px #d1d1d1;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.add_button2 img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.add_button {
  border: none;
  border-radius: 50%;
  background-color: white;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}

.add_button img {
  width: 24px;
  height: 24px;
}

.addTask_subtask_container:focus-within {
  border-color: #29b1e5;
}

textarea:focus {
  border-color: #29b1e5;
  outline: none;
}

input:focus {
  border-color: #29b1e5;
  outline: none;
}

select:focus {
  border-color: #29b1e5;
  outline: none;
}

.addTask_prio_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.addTask_prio {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  border-radius: 8px;
  border: solid #d1d1d1;
  border-width: 1px;
  background-color: white;
  gap: 5px;
  cursor: pointer;
}

.addTask_prio:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.addTask_prio_focus_low {
  background-color: #7ae229;
  color: white;
  font-weight: 700;
  border: none;
}

.addTask_prio_focus_low:hover {
  box-shadow: none;
}

.addTask_prio_focus_medium {
  background-color: #ffa800;
  color: white;
  font-weight: 700;
  border: none;
}

.addTask_prio_focus_medium:hover {
  box-shadow: none;
}

.addTask_prio_focus_urgent {
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
  border: none;
}

.addTask_prio_focus_urgent:hover {
  box-shadow: none;
}

.delete_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.dropdown_container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 130px;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 999;
}

.dropdown_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown_option:hover {
  background-color: #d1d1d1;
}

.dropdown_name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-left: 5px;
}

.dropdown_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown_option input {
  margin-right: 5px;
  cursor: pointer;
}

.addTask_assigned_contacts {
  display: flex;
  gap: 6px;
  margin-top: 6px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 900;
  flex-wrap: wrap;
}

.rotate90 {
  rotate: 180deg;
}

option:hover {
  background-color: #d1d1d1;
}

.dropdown_name_category {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subtask_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  flex-direction: column;
  background-color: #f6f7f8;
  max-height: 110px;
  overflow-y: auto;
  overflow-x: hidden;
}

.addTask_subtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(100% - 5px);
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.addTask_subtask:hover {
  background-color: #d1d1d1;
}

.subtask_container img {
  height: 5px;
}

.subtask_d_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.subtask_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.subtask_edit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid #a8a8a8;
  border-width: 1px;
}

.subtask_delete_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtask_button img:hover {
  zoom: 1.1;
}

.subtask_button img {
  height: 20px;
}

.without_hover_background:hover {
  background-color: #f6f7f8;
}

.addTask_prio img {
  width: 15px;
}

.addTask_required {
  display: flex;
  margin-top: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 900;
  font-size: 12px;
  color: red;
}

.border_red {
  border-color: red;
}

.addTask_button_content_mobile {
  display: none;
}
