.textpage {
    display: flex;
    flex-direction: column;
    padding: 96px;
    max-height: calc(100vh - (96px * 2) - 96px);
    gap: 24px;
}

.blue_word {
    color: #29ABE2;
}

td {
    padding-top: 16px;
}

.number {
    width: 64px;
    overflow: hidden;
    display: flex;
}