.textpage {
    display: flex;
    flex-direction: column;
    padding: 96px;
    max-height: calc(100vh - (96px * 2) - 96px);
    gap: 24px;
}

.back_arrow {
    position: fixed;
    right: 96px;
    width: 32px;
    height: 32px;
}

.back_arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(240, 240, 240);
    border-radius: 24px;
}

.blue_word {
    color: #29ABE2;
}

td {
    padding-top: 16px;
}

.number {
    width: 64px;
    overflow: hidden;
    display: flex;
}