.bg_orange {
  background-color: #FF7A00;
}

.bg_pink {
  background-color: #FF5EB3;
}

.bg_violet_blue {
  background-color: #6E52FF;
}

.bg_violet {
  background-color: #9327FF;
}

.bg_blue_cerulean {
  background-color: #00BEE8;
}

.bg_green_java {
  background-color: #1FD7C1;
}

.bg_red_bittersweet {
  background-color: #FF745E;
}

.bg_orange_tangerine {
  background-color: #FFA35E;
}

.bg_pink_helitrope {
  background-color: #FC71FF;
}

.bg_yellow_supernova {
  background-color: #FFC701;
}

.bg_blue_ribbon {
  background-color: #0038FF;
}

.bg_green_yellow {
  background-color: #C3FF2B;
}

.bg_yellow_sun {
  background-color: #FFE62B;
}

.bg_red_coral {
  background-color: #FF4646;
}

.bg_yellow_sin {
  background-color: #FFBB2B;
}

.bg_purple_minsk {
  background-color: #462F8A;
}